<div class="card-container">
  <mat-card class="card" *ngFor="let cardTitle of titles">
    <mat-card-header>
      <mat-card-title>{{cardTitle | uppercase | slice:1:3 }}</mat-card-title>
      <mat-card-subtitle>{{cardTitle | reverse}}</mat-card-subtitle>
      <mat-card-subtitle>{{birthday | date:"MM/dd/yyyy"}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" matInput #inputTitle>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddCard(inputTitle.value)">Add Card</button>
</div>

